
.databorinput{
	border-right: 1px solid #cccccc; border-top:  1px solid #cccccc; border-bottom:  1px solid #cccccc;
	
}


.databordacl{
	border-right:  1px solid #cccccc;
	border-top:  1px solid #cccccc;
	border-bottom:  1px solid #cccccc;
}

.sweet-alert.show-input input {
    display: block;
    font-weight: bold;
    color: #8e8c8c;
}
.inputjaubra{
    padding-left: 5px !important;
    border: 1px solid #2196f3 !important;
}
.inputjaubra_erro{
    padding-left: 5px !important;
    border: 1px solid red !important;
}
.colj{
    margin-bottom: 0px !important;
}

#fileselector {
    margin: 10px; 
}
#imagemsel {
    display:none;   
}
.margin-correction {
    margin-right: 10px;   
}
.opcoesadds{
    padding: 12px;
    padding-bottom: 33px;
    border:1px solid #ccc;
    height: 43px;
    width: 50%;
    margin-left: 90px;
}